<!DOCTYPE html>
<html>
    <head>
        <meta charset="UTF-8">
        <link rel="stylesheet" type="text/css" href="mycss.css">
        <title>App site</title>
    </head>
    <body>
        <h1>App site</h1>
        

        <form action="/send" method="POST">
            <label>Give a name</label>
            <input type="text" name="username" required>
            
            <label>Message:</label>
            <textarea rows="4" cols="50" name="message">This is a sample text</textarea> 
            <button type="submit">Send</button>
        </form>

    </body>
</html>